# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual
env/
venv/
.venv/


# Environment / Secrets

.env
.env.local
.env.production
.flaskenv


# Testing / Coverage

.pytest_cache/
.coverage
htmlcov/


# Database / Local data

.docs
*.sqlite
*.sqlite3
*.db
/backend/uploads/



# Logs
*.log


# Docker
docker-compose.override.yml
docker-compose.local.yml