fastapi
uvicorn
psycopg2-binary
sqlalchemy
pgvector
python-dotenv
pydantic-settings
email-validator
pytest
pytest-asyncio
httpx
pydantic[email]
pwdlib[argon2]
pyjwt
python-multipart
pypdfium2
llama-index-embeddings-ollama
aiofiles
google-genai
flashrank